# MONGODB_URI=mongodb://127.0.0.1:27017/savitri_salary
# MONGODB_DB=savitri_salary
# JWT_SECRET=replace-this-with-a-long-random-secret
# ADMIN_EMAIL=admin@savitri.edu
# ADMIN_PASSWORD=change-me-before-production
# ACCOUNTANT_EMAIL=accounts@savitri.edu
# ACCOUNTANT_PASSWORD=change-me-before-production
MONGODB_URI=mongodb://127.0.0.1:27017/savitri_salary
MONGODB_DB=savitri_salary
JWT_SECRET=replace-this-with-a-long-random-secret
ADMIN_EMAIL=admin@savitri.edu
ADMIN_PASSWORD=admin1234
ACCOUNTANT_EMAIL=accounts@savitri.edu
ACCOUNTANT_PASSWORD=admin1234